@import url(./__container/comments__container.css);
@import url(./__container-item/comments__container-item.css);
@import url(./__image/comments__image.css);
@import url(./__quote/comments__quote.css);
@import url(./__author/comments__author.css);

.comments {
  margin: 0 auto 64px;
  max-width: 288px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .comments {
    max-width: 343px;
    margin-bottom: 49px;
  }
}

@media screen and (min-width: 425px) {
  .comments {
    max-width: 382px;
  }
}

@media screen and (min-width: 768px) {
  .comments {
    max-width: 660px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .comments {
    max-width: 928px;
    margin-bottom: 84px;
  }
}

@media screen and (min-width: 1280px) {
  .comments {
    max-width: 1184px;
    margin-bottom: 103px;
  }
}
