.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  margin: 0 0 32px;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .place__title {
    margin: 0;
    align-self: end;
    font-size: 42px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    padding: 0;
  }
}
