@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;
  margin: 0 auto 64px;
}

@media screen and (min-width: 768px) {
  .lead {
    margin: 0 auto 80px;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    margin: 0 auto 76px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    margin: 0 auto 81px;
  }
}
