@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  display: flex;
  align-items: center;
  max-width: 984px;
  flex-flow: column nowrap;
  margin: 0 auto 81px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin: 0 auto 76px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin: 0 auto 80px;
  }
}

@media screen and (max-width: 375px) {
  .lead {
    max-width: 375px;
    margin: 0 auto 64px;
  }
}
