.cover__subtitle {
  font-size: 14px;
  line-height: 1.21;
  padding: 0 16px;
  margin: 0;
  text-align: center;
  align-self: center;
  max-width: 288px;
}

@media screen and (min-width: 375px) {
  .cover__subtitle {
    max-width: 343px;
    font-size: 18px;
    line-height: 1.44;
  }
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.44;
  }
}
