.cover-bg {
  width: 100%;
  height: 216px;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 375px) {
  .cover-bg {
    height: 272px;
  }
}

@media screen and (min-width: 425px) {
  .cover-bg {
    height: 284px;
  }
}

@media screen and (min-width: 768px) {
  .cover-bg {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .cover-bg {
    height: 594px;
  }
}
