.video__item {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
