.intro__content-row {
  max-width: 285px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.66;
  margin: 0 0 35px 0;
  padding: 0;
}

@media screen and (min-width: 375px) {
  .intro__content-row {
    max-width: 343px;
  }
}

@media screen and (min-width: 425px) {
  .intro__content-row {
    max-width: 382px;
    margin-bottom: 37px;
  }
}

@media screen and (min-width: 768px) {
  .intro__content-row {
    max-width: 720px;
    margin-bottom: 37px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__content-row {
    max-width: 683px;
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__content-row {
    max-width: 683px;
    margin-bottom: 33px;
  }
}
