.intro__content-row {
  max-width: 683px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 167.44%;
  margin: 0 0 33px 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .intro__content-row {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .intro__content-row {
    margin-bottom: 37px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .intro__content-row {
    margin-bottom: 38px;
  }
}