.lead__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  margin: 0 auto 8px;
  max-width: 288px;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media screen and (min-width: 375px) {
  .lead__title {
    max-width: 343px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 425px) {
  .lead__title {
    max-width: 382px;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    padding: 0 15px;
    font-size: 96px;
    line-height: 0.96;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    max-width: 928px;
    padding: 0 115px;
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    max-width: 782px;
    padding: 0 24px;
    margin-bottom: 48px;
  }
}
