.video__icon {
  width: 41px;
  height: 41px;
  margin: 0;
  transition: 0.2s ease-in-out;
}

.video__icon:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 375px) {
  .video__icon {
    margin: 0 0 23px;
  }
}

@media screen and (min-width: 1024px) {
  .video__icon {
    margin: 0 0 54px;
  }
}

@media screen and (min-width: 1280px) {
  .video__icon {
    margin: 0 0 94px;
  }
}
