.video__title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.08;
  margin: 0 0 18px;
  max-height: 73px;
  max-width: 322px;
}

@media screen and (max-width: 320px) {
  .video__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 425px) and (min-width: 321px) {
  .video__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 730px) and (min-width: 426px) {
  .video__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) and (min-width: 731px) {
  .video__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 928px) and (min-width: 769px) {
  .video__title {
    font-size: 28px;
  }
}
