.video__title {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.08;
  margin: 8px 0 0;
}

@media screen and (min-width: 425px) {
  .video__title {
    margin: 12px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .video__title {
    margin: 0;
    line-height: 1;
  }
}

@media screen and (min-width: 1024px) {
  .video__title {
    margin: 12px 0 auto;
    font-size: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .video__title {
    margin: 12px 0 auto;
  }
}
