.lead__image {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin: 0 auto 5px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .lead__image {
    margin: 0 auto 5px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .lead__image {
    margin: 0 auto 5px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .lead__image {
    margin: 0 auto 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead__image {
    margin: 0 auto 16px;
  }
}

@media screen and (min-width: 1025px) {
  .lead__image {
    margin: 0 auto 11px;
  }
}