.video__icon_play {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 41px;
  height: 41px;
  z-index: 5;
}


@media screen and (max-width: 320px) {
  .video__icon_play {
    top: 16px;
    left: 16px;
  }
}

@media screen and (max-width: 425px) and (min-width: 321px) {
  .video__icon_play {
    top: 24px;
    left: 24px;
  }
}