@import url(./__text-container/cover__text-container.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  max-width: 1184px;
  overflow: hidden;
  margin: 0 auto 126px;
  position: relative;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 425px) {
  .cover {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .cover {
    margin-bottom: 102px;
  }
}

@media screen and (min-width: 1279px) {
  .cover {
    margin-bottom: 160px;
  }
}
