.comments__quote {
  font-size: 16px;
  line-height: 1.43;
  margin: 0;
  order: 3;
}

@media screen and (min-width: 1024px) {
  .comments__quote {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.71;
    order: 0;
  }
}
