.comments__author {
  font-size: 14px;
  line-height: 1.71;
  font-weight: bold;
  margin: 15px 0 0 0;
}

@media screen and (max-width: 768px) {
  .comments__author {
    margin-bottom: 15px;
    text-align: center;
  }
}
