@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__section/place__section.css);
@import url(./__image/place__image.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  max-width: 928px;
  margin: 0 auto 82px;
  display: grid;
  grid-template-columns: 440px 456px;
  grid-template-rows: auto;
  gap: 32px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    margin-bottom: 59px;
    gap: 24px;
  }
}

@media screen and (min-width: 426px) and (max-width: 640px) {
  .place {
    padding: 0 3.2%;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .place {
    padding: 0 3.2%;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 769px) and (max-width: 927px) {
  .place {
    padding: 0 4.5%;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 40px;
    max-width: 986px;
    margin-bottom: 58px;
  }
}
