@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__image/place__image.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__description/place__description.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  max-width: 100%;
  margin: 0 auto 60px;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  list-style-type: none;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 352px;
    grid-template-rows: auto;
    column-gap: 28px;
    row-gap: 40px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
    row-gap: 60px;
    margin-bottom: 82px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 484px;
    column-gap: 40px;
  }
}
