@import url(./__menu/footer__menu.css);
@import url(./__menu-item/footer__menu-item.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  max-width: 320px;
  margin: 0 auto 22px;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0 0 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media screen and (min-width: 375px) {
  .footer {
    max-width: 343px;
    margin-bottom: 22px;
    padding: 0;
  }
}

@media screen and (min-width: 425px) {
  .footer {
    max-width: 382px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 auto 24px;
    max-width: 722px;
    flex-flow: row nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: 928px;
    flex-flow: row nowrap;
    padding: 0 48px 49px 89px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
    flex-flow: row nowrap;
    margin: 0 auto 48px;
    padding: 0;
  }
}
