@import url(./__menu/footer__menu.css);
@import url(./__menu-item/footer__menu-item.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  max-width: 928px;
  margin: 0 auto 49px;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 425px) {
  .footer {
    margin-bottom: 22px;
    flex-direction: column;
    max-width: 424px;
  }
}

@media screen and (max-width: 600px) and (min-width: 426px) {
  .footer {
    flex-direction: column;
    margin-bottom: 24px;
    max-width: 500px;
  }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .footer {
    margin-bottom: 24px;
    max-width: 100%;
    padding: 0 5%;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}
