@import url(./__menu/footer__menu.css);
@import url(./__menu-item/footer__menu-item.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  width: 100%;
  margin: 0 auto 49px;
}

@media screen and (max-width: 425px) {
  .footer {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .footer {
    margin-bottom: 24px;
  }
}
