.photos {
  max-width: 928px;
  margin: 0 auto;
}

@media screen and (max-width: 425px) {
  .photos {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photos {
    margin-bottom: 102px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .photos {
    margin-bottom: 102px;
  }
}