.place__website {
  grid-column-start: 2; 
  grid-column-end: 3;
  grid-row-start: 1; 
  grid-row-end: 2;
  list-style: none;
  padding: 0;
  align-self: end;
}

@media screen and (max-width: 730px) {
  .place__website {
    display: none;
  }
}
