.video__icon_play {
  width: 41px;
  height: 41px;
  margin: 0 0 8% 0;
}

@media screen and (max-width: 320px) {
  .video__icon_play {
    margin: 0 0 4% 0;
  }
}

@media screen and (max-width: 425px) and (min-width: 321px) {
  .video__icon_play {
    margin: 0 0 5% 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .video__icon_play {
    margin: 0 0 17px 0;
  }
}
