.video__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 288px;
  gap: 16px;
  max-width: 1184px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .video__container {
    max-width: 288px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8px;
  }
}

@media screen and (max-width: 375px) {
  .video__container {
    max-width: 343px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    gap: 8px;
  }
}

@media screen and (max-width: 425px) {
  .video__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 730px) and (min-width: 426px) {
  .video__container {
    padding: 0 3.7%;
    grid-template-columns: 1fr;
    max-width: 720px;
    gap: 8px;
  }
}

@media screen and (max-width: 768px) and (min-width: 731px) {
  .video__container {
    max-width: 720px;
    grid-template-rows: 200px;
    gap: 16px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .video__container {
    max-width: 928px;
    gap: 16px;
  }
}

@media screen and (min-width: 1025px) {
  .video__container {
    gap: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .video__container {
    gap: 18px;
    grid-template-rows: 323px;
  }
}