.intro__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  margin: 0 0 34px 0;
  max-width: 288px;
  padding: 0;
  text-align: left;
}

@media screen and (min-width: 375px) {
  .intro__title {
    max-width: 343px;
  }
}

@media screen and (min-width: 425px) {
  .intro__title {
    max-width: 92%;
  }
}

@media screen and (min-width: 768px) {
  .intro__title {
    max-width: 720px;
    font-size: 54px;
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    max-width: 928px;
    font-size: 54px;
    margin-bottom: 38px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__title {
    max-width: 683px;
    font-size: 54px;
    margin-bottom: 45px;
    padding: 0;
  }
}
